<% if Helpers.is_logged_in?(session) %>
  <main class="form-create-acct">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col px-5 mx-5">
        <div class="card mt-5">
          <div class="card-header">
            <h2 class="fw-normal text-center">View Student</h2>
          </div>
          <div class="card-body pt-0">
            <form method="post" action="/students/:id/edit">
              <input id="hidden" type="hidden" name="_method" value="patch">
              <div class="form-floating mt-5 mb-3">
                <input class="form-control form-control-sm" name="first_name" type="text" value="<%= @student.first_name %>">
                <label for="floatingInput">First Name</label>
              </div>
              <div class="form-floating mt-5 mb-3">
                <input class="form-control form-control-sm" name="last_name" type="text" value="<%= @student.last_name %>">
                <label for="floatingInput">Last Name</label>
              </div>
              <div class="form-floating mt-5 mb-3">
                <input class="form-control form-control-sm" name="uga_myid" type="text" value="<%= @student.uga_myid %>">
                <label for="floatingInput">UGA MyID</label>
              </div>
              <button class="btn btn-primary mt-3" type="submit">submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      You are not authorized to view this page!
    </div>
  </div>
</main>
<% end %>
