<main class="form-create-acct">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col px-5 mx-5">
        <div class="card mt-5">
          <div class="card-header">
            <h2 class="fw-normal text-center">Create Account</h2>
          </div>
          <div class="card-body pt-0">
            <form method="post" action="/account/new">
              <div class="form-floating mt-5 mb-3">
                <input class="form-control form-control-sm" name="first_name" type="text">
                <label for="floatingInput">First Name</label>
              </div>
              <div class="form-floating mt-5 mb-3">
                <input class="form-control form-control-sm" name="last_name" type="text">
                <label for="floatingInput">Last Name</label>
              </div>
              <div class="form-floating mt-5 mb-3">
                <input class="form-control form-control-sm" name="uga_myid" type="text">
                <label for="floatingInput">UGA MyID</label>
              </div>
              <div class="form-floating">
                <input class="form-control form-control-sm" name="password" type="password">
                <label for="floatingInput">Password</label>
              </div>
              <button class="btn btn-primary mt-3" type="submit">submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</main>