<div class="card text-center">
  <div class="card-header">
    <h3 class="custom-title">Welcome</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Aesop's Ferryman</h5>
    <p class="card-text"><strong>Student Success and Advising Center's</strong> <em>Aesop's Ferryman</em>, the academic petition tool.</p>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/account/new" class="btn btn-secondary">Create Account</a>
  </div>
  <div class="card-footer text-muted">
    <%= Time.now.strftime("%B %d, %Y") %>
  </div>
</div>